/*-- scss:defaults --*/

$border-color:                rgba(205, 69, 40, 1.0);
$card-border-color:                        rgba(205, 69, 40, 1.0);

/*-- scss:rules --*/
.card-header {
  background-color: #CD4528;
}